
.circular {
    border-radius: 50%;
}
.specs {
    display: flex;
    justify-content: space-evenly;

}
nav {
    font-family: 'New Tegomin', serif;
    font-size: 20px;
}
.my_name {
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    color: white;
}